NIKSHAY_USERNAME=your_username
NIKSHAY_PASSWORD=your_password
NIKSHAY_HEADLESS=false
NIKSHAY_START_ROW=1
NIKSHAY_ADDRESS=Bari Gulni
NIKSHAY_PINCODE=805124
NIKSHAY_HEALTH_FACILITY=Ab HWC Gulni
NIKSHAY_WAIT_AFTER_SUBMIT=15
